        <footer>
            <% year = new Date().getFullYear() %>
            <p>© Kolchetes 
                <%= year %>
            </p>

            <ul>
                <li>
                    <a href="https://bsky.app/profile/kolchetes.bsky.social" target="_blank">
                        <i class="fa-brands fa-bluesky" style="color: #000000;"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/kolchetes" target="_blank">
                        <i class="fa-brands fa-github" style="color: #000000;"></i>
                    </a>
                </li>
                <li>
                    <a href="mailto:kolchetes@outlook.com" target="_blank">
                        <i class="fa-solid fa-envelope" style="color: #000000"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </body>
    <script src="https://kit.fontawesome.com/4200491c09.js" crossorigin="anonymous"></script>
</html>