<%- include("partials/header.ejs") %>
<section class="about">
    <header>
        <h1 class="title">About</h1>
    </header>
    <p>
        This website allows you to find the lyrics of your favorite
        songs from your favorite artists (except The Weeknd)
        just by typing the artist and song name.
    </p>

    <section class="questionsSection">
        <header class="sectionTitle">
            <h2>Q&A:</h2>
        </header>
        <ul class="questionsUL">
            <li>Q: Why there's so many space between lines?</li>
            <p>A: It's a problem with the API</p>

            <li>Q: Why i can't find The Weeknd's songs?</li>
            <p>A: It's a problem with the API</p>

            <li>Q: Why don't you fix the API?</li>
            <p>A: I don't why, I run away</p>

            <li>Q: Why this website has a dark design?</li>
            <p>A: To prevent you from get blinded by the lights</p>
        </ul>

    </section>

    <section class="creditsSection">
        <header class="sectionTitle">
            <h2>Credits:</h2>
        </header>
            <ul class="creditsUL">
                <li><a href="https://x.com/yu_angela" target="_blank">Angela Yu</a> for the web development course</li>
                <li><a href="https://github.com/NTag" target="_blank">NTag</a> for creating the lyrics.ovh API</li>
                <li><a href="https://fonts.google.com/" target="_blank">Google Fonts</a>, 
                    <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>, 
                    <a href="https://favicon.io/" target="_blank">favicon.io</a> for Assets
                </li>
                <li><a href="https://bsky.app/profile/kolchetes.bsky.social/" target="_blank">Me</a> for creating the website</li>
            </ul>
    </section>
</section>
<%- include("partials/footer.ejs") %>