<%- include("partials/header.ejs") %>
<h1 class="title">Contact</h1>
<ul class="container">
    <li class="socialCard"><a href="https://bsky.app/profile/kolchetes.bsky.social" target="_blank"><img src="images/bsky-logo.png"></a><figcaption>Bluesky</figcaption></li>
    <li class="socialCard"><a href="https://github.com/kolchetes" target="_blank"><img src="images/github-logo.png"></a><figcaption>GitHub</figcaption></li>
    <li class="socialCard"><a href="mailto:kolchetes@outlook.com" target="_blank"><img src="images/mail-logo.png"></a><figcaption>E-Mail</figcaption></li>
</ul>
<%- include("partials/footer.ejs") %>
